* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    img {width: 100%;}
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 1170px;    
}

.container {
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.containerblue {    
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    background: #f1f8ff;
}

.TopWhite {
    width: 100%;
    text-align: center;

    &__title {
        margin-top: 100px;
        font-family: 'Lato', sans-serif;
        font-size: 50pt;
        font-weight: 300;
        color: #3677fd;
        text-align: center;
    }

    &__description {
        margin-top: 65px;
        margin-bottom: 115px;
        font-family: 'Lato', sans-serif;
        font-size: 16pt;
        font-weight: 400;
        color: #5a5a5a;
        line-height: 35pt;
    }
}

.TopBlue {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__menu {
        width: 100%;
        max-width: 1170px;
        margin-top: 115px;
    }

    &__link {
        text-decoration: none;        
        color: #3677fd;

        &:hover {
            background: #f9f2f9;
            transition: 0.2s;
        }
    }

    &__title {
        margin-top: 90px;
        font-family: 'Lato', sans-serif;
        font-size: 50pt;
        font-weight: 300;
        color: #3677fd;
        text-align: center;

        &--small {
            margin-top: 60px;
            font-size: 24pt;
            font-weight: 700;
        }
    }

    &__description {
        margin-top: 30px;
        margin-bottom: 90px;
        font-family: 'Lato', sans-serif;
        font-size: 16pt;
        font-weight: 400;
        color: #5a5a5a;
        line-height: 35pt;
        text-align: center;        
    }

    &__list {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    &__item {
        max-width: 360px;
        margin-right: 15px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &__icon {
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #b7c0c9;
        border-radius: 50%;
    }
}

.bottomwhite {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    
    .title {
        font-size: 40px;
        font-family: 'Lato', sans-serif;
        color: #3695ff;
        text-align: center;
        margin-bottom: 70px;
        width: 100%;
        }
    .example {
        max-width: 360px;
        margin: 15px;  
        }

    .example_content{
        opacity: 0.8;
        }

    .example_content:hover {
        transform: translateX(10px);
        transform: translateY(10px);
        opacity: 1;
        }
    
    }
    
.bottomblue {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f8FF;
        
    .bottomwrapper {
        width: 100%;
        max-width: 1170px;
        padding: 30px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        }

    .title {
        font-size: 40px;
        font-family: 'Lato', sans-serif;
        color: #3695ff;
        text-align: center;
        margin-bottom: 70px;
        width: 100%;
        }

    .brandbox {
        margin: 5px;
         opacity: 0.3;
        }

    .brandbox:hover {
         opacity: 1;
        }
    }